<div class="row">
 <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h10 style="width: 100px;background-color: #d3d3d3">マイページ</h10>
 </div> 
 <div class="mx-auto col-11 col-sm-10">
  <strong class="information-link">登録情報</strong>
 <%= link_to " 編集する", edit_public_customers_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
 </div>
  <table class="mx-auto  col-lg-8 col-xl-6 width: auto;table table-bordered table-condensed">
    <tr>
     <td class="col-xs-2">氏名</td>
     <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
    </tr>
     
    <tr>
     <td class="col-xs-2">カナ</td>
     <td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
    </tr>

    <tr>
     <td class="col-xs-2">郵便番号</td>
     <td><%= current_customer.postal_code %></td>
    </tr>

    <tr>
     <td class="col-xs-2">住所</td>
     <td><%= current_customer.address %></td>
    </tr>

    <tr>
     <td class="col-xs-2">電話番号</td>
     <td><%= current_customer.telephone_number %></td>
    </tr>

    <tr>
     <td class="col-xs-2">メールアドレス</td>
     <td><%= current_customer.email %></td>
    </tr>
  </table>
</div>
