<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">ながのケーキ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f97bdf8bf2.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="wrapper">

        <header>
          <nav class="navbar navbar-expand-lg">
           <div class="container">
              <%= link_to root_path do %>
              <%= image_tag "top.jpeg", size: '240x180' %>
              <% end %>

              <ul class="nav navbar-nav navbar-right">

                <% if customer_signed_in? %>

                <li style="font-family: HiraMinPro-W6; margin-top: 15px;">
                ようこそ、<%= current_customer.last_name  %>さん！
                </li>

                <li>
                <%= link_to public_customers_my_page_path, class: "fas btn btn-light" do %>
                マイページ
                <% end %>
                </li>

                <li>
                <%= link_to public_items_path, class: "fas btn btn-light" do %>
                商品一覧
                <% end %>
                </li>

                <li>
                <%= link_to public_cart_items_path, class: "fas btn btn-light" do %>
                カート
                <% end %>
                </li>

                <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: "fas btn btn-light" do %>
                ログアウト
                <% end %>
                </li>

                <% elsif admin_signed_in? %>

                <li>
                <%= link_to admin_items_path, class: "fas btn btn-light" do %>
                商品一覧
                <% end %>
                </li>

                <li>
                <%= link_to admin_customers_path, class: "fas btn btn-light" do %>
                会員一覧
                <% end %>
                </li>

                <li>
                <%= link_to admin_root_path, class: "fas btn btn-light" do %>
                注文履歴一覧
                <% end %>
                </li>

                <li>
                <%= link_to admin_genres_path, class: "fas btn btn-light" do %>
                ジャンル一覧
                <% end %>
                </li>

                <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: "fas btn btn-light" do %>
                ログアウト
                <% end %>
                </li>

               <% else %>

                <li>
                <%= link_to public_about_path, class: "fas btn btn-light" do %>
                About
                <% end %>
                </li>

                <li>
                <%= link_to public_items_path, class: "fas btn btn-light" do %>
                商品一覧
                <% end %>
                </li>

                <li>
                  <%= link_to new_customer_registration_path, class: "fas btn btn-light" do %>
                  新規登録
                  <% end %>
                </li>

                <li>
                  <%= link_to new_customer_session_path, class: "fas btn btn-light" do %>
                  ログイン
                  <% end %>
                </li>
              <% end %>
              </ul>
          </div>
          </nav>
        </header>

        <main id="content">
          <%= yield %>
        </main>
    </div>
  </body>
</html>